<html>
  <head>
    <title>Home Page</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Welcome!!!</h1>
      </div>
      <div id="reservation">
        Click <a href="https://opensource-final-project.appspot.com/reservation">here</a> to view reservations for resrouces made by you.
      </div>
      <div id="allresource">
        Click <a href="https://opensource-final-project.appspot.com/allresource">here</a> to view all resources in the system.
      </div>
      <div id="resourceown">
        Click <a href="https://opensource-final-project.appspot.com/resourceown">here</a> to view resources that you own.
      </div>
      <div id="main">
        Click <a href="https://opensource-final-project.appspot.com/form">here</a> to create a resource.
      </div>
    </div>
  </body>
</html>