<html>
  <head>
    <title>Home Page</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div>
        Click <a href="/showreservation/{{resourcename}}">here</a> to show the current and upcoming reservations for the resource.
      </div>
      <div>
        Click <a href="/addreservation/{{resourcename}}">here</a> to add a new reservation for the resource.
      </div>
      <div>
        Click <a href="/editresource/{{resourcename}}">here</a> to edit information about the resource.
      </div>
    </div>
  </body>
</html>